{% set products = __SELF__.products %}

{% if products.count %}
    <div class="products d-flex flex-column">
        {% for product in products %}
            <div class="product">
                <a href="{{ product.url }}" class="text-decoration-none d-block py-3 border-bottom border-tertiary border-opacity-07">
                    <h2 class="title mb-0 fs-17 ls-n02 text-tertiary fw-medium">
                        {{ product.title }}
                    </h2>

                    {% if product.excerpt %}
                        <p class="excerpt mb-0 mt-1 fs-13 text-tertiary-55">
                            {{ product.excerpt }}
                        </p>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if products.lastPage > 1 %}
    {% set q = this.request.input.q ? ["?q=", this.request.input.q]|join : null %}

    <ul class="pagination mt-5 justify-content-center gap-2 mb-0">
        {% if products.currentPage > 1 %}
            <li class="page-item prev d-inline-flex align-items-center">
                <a href="{{ this.page.baseFileName|page({page: (products.currentPage-1)}) }}{{ q }}" class="page-page-link mi-caret-left mi-16 bg-secondary bg-primary-hover transition"></a>
            </li>
        {% endif %}

        {% if products.currentPage <= 3 %}
            {% set start_page = 1 %}
            {% set end_page = products.lastPage > 5 ? 5 : products.lastPage %}
        {% elseif products.currentPage > 3 and products.currentPage + 4 < products.lastPage %}
            {% set start_page = products.currentPage - 2 %}
            {% set end_page = products.lastPage > products.currentPage + 2 ? products.currentPage + 2 : products.lastPage %}
        {% elseif products.currentPage + 4 >= products.lastPage %}
            {% set start_page = products.lastPage - 4 %}
            {% set end_page = products.lastPage %}
        {% endif %}

        {% for page in start_page..end_page %}
            <li class="page-item">
                <a href="{{ this.page.baseFileName|page({page: page}) }}{{ q }}" class="page-link {{ products.currentPage == page ? 'active' : null }}">
                    {{ page }}
                </a>
            </li>
        {% endfor %}

        {% if products.lastPage > products.currentPage %}
            <li class="page-item next d-inline-flex align-items-center">
                <a href="{{ this.page.baseFileName|page({page: (products.currentPage+1)}) }}{{ q }}" class="page-link mi-caret-right mi-16 bg-secondary bg-primary-hover transition"></a>
            </li>
        {% endif %}
    </ul>
{% endif %}
